<% if geolocation_enabled? %>
  <% unless geolocalized_assemblies.blank? %>
    <section class="extended home-section" id="homepage_map">
      <div class="wrapper-home">
        <%= interactive_map_for(assemblies_data_for_map(@geolocalized_assemblies)) do %>
          <input type="hidden" value="<%= t("decidim.components.homepage_interactive_map.map.view_participatory_processes") %>" id="view-participatory-process">
          <%= stylesheet_pack_tag "decidim_map" %>
          <%= stylesheet_pack_tag "decidim_homepage_interactive_map_css" %>
        <% end %>
      </div>
    </section>
  <% end %>
<% end %>
