name: Tests

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:11.6-alpine
        ports:
          - 5432:5432

    steps:
      - uses: actions/checkout@v2
      - name: Set up Ruby 2.5.3
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.5.3
      - name: Install bundler
        run: |
          gem install bundler -v "$(grep -A 1 "BUNDLED WITH" Gemfile.lock | tail -n 1)"
      - name: Install gems
        run: |
          bundle install --jobs 4 --retry 3
      - name: Run tests
        env:
          RAILS_ENV: test
          DATABASE_USERNAME: postgres
        run: |
          bundle exec rake test_app
          bundle exec rake spec
